body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: url(../images/login/back.png) no-repeat fixed center;
	background-size: 100% 100%;
}
/*#title{
	width:100%;
	height:80px;
	margin:0 auto;
	margin-top:95px;
	font-size:50px;
	color:#ffffff;
	text-align:center;
}*/
#containor {
	margin: 0 auto;
	height: 450px;
	width: 1024px;
	margin-top: 15px;
}

.inputDiv {
	width: 425px;
	height: 475px;
	background-color: rgba(255, 255, 255, .36);
	border-radius: 10px;
	position: absolute;
	right: 10%;
	top: 50%;
	margin: -200px 0 0 !important;
}

.item1 {
	/*height:60px;
	line-height:60px;*/
	margin: 0 auto;
	width: 358px;
	height: 62px;
	border: 1px solid #ccc;
	line-height: 62px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 60px;
}

.item1 span.user {
	display: inline-block;
	width: 59px;
	height: 62px;
	background: url(../images/login/user.png) no-repeat center;
	padding-left: 2px;
	font-size: 50px;
	font-weight: 100;
	float: left;
}

.item2 {
	/*height:60px;
	line-height:60px;*/
	margin: 0 auto;
	width: 358px;
	height: 62px;
	border: 1px solid #ccc;
	line-height: 62px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 37px;
}

.item2 span.password {
	display: inline-block;
	width: 59px;
	height: 62px;
	background: url(../images/login/password.png) no-repeat center;
	padding-left: 2px;
	font-size: 50px;
	font-weight: 100;
	float: left;
}

b {
	display: inline-block;
	background: url(../images/login/1.png) no-repeat center 3px;
	width: 2px;
	height: 56px;
	line-height: 56px;
	float: left;
}

input.BigInput {
	float: left;
	width: 283px;
	font-size: 25px;
	height: 60px;
	line-height: 60px;
	border: none;
	outline: none;
	color: #555555;
	vertical-align: middle;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	/* background: white url('../img/bg_input_text.png') top left repeat-x; */
}

input.loginBtn {
	width: 360px;
	height: 64px;
	line-height: 64px;
	/*     border-color: blue; */
	margin-left: 33px;
	border: 0px;
	background: url(../images/login/loginBtn1.png) no-repeat center;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
}

.sysTitle {
	height: 70px;
	line-height: 70px;
	text-align: left;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	color: #444444;
	font-weight: 100;
	border-bottom: 1px solid #ccdae4;
	padding-left: 33px;
}
